
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10em;
}

body{
    background-color: rgba(194, 13, 13, 0.774);
    text-align: center;
}
div{
background-color: rgb(245, 240, 240);
padding: 10px 40px;
border: 2px solid rgba(224, 23, 90, 0.13);
margin: 20px 40px;
}

h1{
    font-size: 3em;
    color: rgb(35, 38, 190);
    text-align:center;
}

h2{
    color: rgb(240, 218, 25);
    font-size: 3em;
}

h3{
    color: rgb(226, 43, 180);
    font-size: 40px;

}


a:hover {
    color: rgb(25, 128, 50);
    text-decoration: dotted;
    font-size: 1.5em;
    border: 2px solid rgb(156, 59, 88);
    margin: 20px 40px;
}

a:visited {
    color: rgb(126, 26, 84);
}
{
    .main-container{
        background-color: rgba(176, 181, 182, 0.747);
        width: 100vw;
        height: 80vh;
        overflow: hidden;
    }
}

#im-0:hover{
    border-radius: 50px;
    transform: scale(1.1);
    transition: 0.9s;
}

#im-2: hover{
    border-radius: 50px;
    transform: scale(1.1);
    transition: 0.7s;
}

img:hover {
    border-radius: 50px;
    transform: scale(1.1);
    transition: 0.5s;
}
.links {
    color: rgb(182, 127, 255);
    text-decoration: none;
    list-style-type: disc;
}

#u-list-1{
    list-style-type:square;
    font-size: 20px;
}

#u-list-2{
    list-style-type:circle;
    font-size: 20px;
}

#o-list{
    list-style-type:decimal;
    font-size: 20px;
}

p{
    color: rgba(4, 5, 10, 0.692);
    text-align: justify;
    font-size: 25px;
}
...